<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="public/style.css">
</head>
<body>
 {{ #colors }}
  <main>
    <section>
      <div class='color' style='background-color: rgba({{ r }}, {{ g }}, {{ b }}, 1)'></div>
    </section>
  </main>
 {{ /colors }}
  <form action="/colors" method='post'>
    <input type="text" id='r' name='r' placeholder='red'>
    <input type="text" id='g' name='g' placeholder='green'>
    <input type="text" id='b' name='b' placeholder='blue'>
    <input value='Add color' type='submit'>
  </form>
</body>
</html>
